body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  #game {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #gameCanvas {
    border: 1px solid #000;
  }
  
  #gui {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  #tower-selection, #upgrade-gui {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  